<section class="mainbar">
    <section class="matter">
        <div class="event-manager-view symbol-manager-view manager-view">
            <div class="widget">
                <div data-cc-widget-header title="{{vm.title}}"></div>
                <div class="search-frame">
                    <input class="large query-string has-search-icon" data-ng-model="vm.filter.name" placeholder="Search expenses by name" type="text"/>
                </div>
                <div class="widget-content item-frame">
                    <div ng-repeat="c in vm.expenses" class="event-manager-item-view symbol-manager-item-view manager-item-view">
                        <a ng-click="vm.toggleItem(c)">
                            <div class="icon-svg-area">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                            <div class="content-area">
                                <h4>{{c.date | date:'mediumDate'}} <span class="green bold fright">RM {{c.total}}</span></h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <section class="show define-right-pane">
            <div ng-show="vm.showItems">
                <header>
                    <div class="symbol-info">
                        <div class="icon svg-big">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div>
                            <h1>Expense Items</h1>
                        </div>
                    </div>
                    <aside class="actions">
                        <span class="close" ng-click="vm.showItems=false">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </aside>
                </header>
                <article class="box">
                    <grid-screen espenseId="{{vm.selectedExpenseId}}">
                        <form name="expenseForm" ng-submit="save()" class="clause-view">
                            <div class="wrapper">
                                <ul class="components">
                                    <li>
                                        <div class="select2-container select2-container-valueview" ng-class="{ 'has-error' : expenseForm.date.$invalid && !expenseForm.date.$pristine }">
                                            <input type="text" name="date" jqdatepicker ng-model="expense.date" placeholder="Date"  />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="select2-container select2-container-valueview" ng-class="{ 'has-error' : expenseForm.costCenter.$invalid && !expenseForm.costCenter.$pristine }">
                                            <input type="text" name="costCenter" ng-model="expense.costCenter" placeholder="Cost Center" required />
                                        </div>
                                    </li>
                                    <li>
                                        <ui-select ng-model="expense.glcode" theme="select2" title="GL Code">
                                            <ui-select-match placeholder="GL Code">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="a in vm.glcodes | filter: $select.search">
                                            <small><span ng-bind-html="a | highlight: $select.search"></span></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </li>
                                    <li class="desc">
                                        <div class="select2-container select2-container-valueview" ng-class="{ 'has-error' : expenseForm.desc.$invalid && !expenseForm.desc.$pristine }">
                                            <input type="text" name="desc" ng-model="expense.desc" placeholder="Description" required />
                                        </div>
                                    </li>
                                    <li>
                                        <ui-select ng-model="expense.currency" theme="select2" title="Currency">
                                            <ui-select-match placeholder="Currency">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="a in vm.currency | filter: $select.search">
                                            <small><span ng-bind-html="a | highlight: $select.search"></span></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </li>
                                     <li>
                                        <div class="select2-container select2-container-valueview" ng-class="{ 'has-error' : expenseForm.amount.$invalid && !expenseForm.amount.$pristine }">
                                            <input type="number" name="amount" ng-model="expense.amount" placeholder="Amount" required />
                                        </div>
                                    </li>
                                </ul>
                                <div class="action-buttons">
                                    <button ng-disabled="expenseForm.$invalid">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <grid-columns>
                            <grid-column title="Date"           field="date" type="text"></grid-column>
                            <grid-column title="GL Code"         field="glcode" type="text"></grid-column>

                            <grid-column title="Description"           field="desc" type="text"></grid-column>
                            <grid-column title="Currency"       field="currency" type="text"></grid-column>
                            <grid-column title="Amount"         field="amount" type="number"></grid-column>

                            <grid-column title="FX Rate"         field="fxrate" type="number"></grid-column>
                            <grid-column title="In RM"     field="amountInRM" type="number"></grid-column>

                        </grid-columns>
                        <grid with-inline-editor></grid>
                    </grid-screen>

                </article>
            </div>
        </section>
    </section>
</section>