<div class="grid-view">
  <div class="wrapper">
    <ul class="header">
      <li ng-repeat="col in cols" ng-class="{'desc' : col.field == 'desc'}"><span ng-if="col.title !== 'Edit'">{{col.title}}</span></li>
    </ul>
    <ul ng-repeat="row in rows">
      <li ng-repeat="col in cols" ng-class="{'desc' : col.field == 'desc'}">
        <span ng-if="col.title !== 'Edit'">{{row[col.field]}}</span>
        <div ng-if="col.title == 'Edit'">
          <editor-initializer></editor-initializer>
        </div>
      </li>
    </ul>
  </div>
</div>